/**
 * @file
 * Page header styling.
 */

/* Header Full Screen Image Styles*/

#section-header {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(255,255,255,0.4);
  background-image: url('/files/gray-stripe.gif');
  background-repeat: repeat;
      -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

#block-bean-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

#block-bean-logo img {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw;
  max-width: 700px;
  min-width: 0;  /*hack for firefox 3747 */
}

/* Main Menu */

#section-navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0.3);
  border-top: 2px solid #fff;
}

#section-navigation ul#main-menu {
  max-width: 800px;
}

#section-navigation ul#main-menu li {
  border: none;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  font-family: Montserrat;
  font-size: 1.2em;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
}

#section-navigation ul#main-menu li.active {
  background-color: #fff;
}

#section-navigation ul#main-menu li:hover {
  background-color: rgba(255,255,255,0.8);
}

#section-navigation ul#main-menu li a {
  padding: 0.75em;
}

/* Animated Header */

#overlay.fade-in {
  opacity: 0.6;
}

#block-bean-logo.fade-out {
  opacity: 0;
}

#block-bean-logo.move-to-corner img {
  width: 300px;
}
