/**
 * @file
 * Primary styles for campaign subtheme.
 */

#front-content-container {
  position: absolute;
  width: 100%;
  top: 100%;
  background: #fff;
}

#section-main,
#content-inner {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

#page-title {
  display: none;
}

.script {
  font-family: 'Oleo Script', cursive;
  color: #0054A6;
}

.overlay {
  background-color: rgba(255,255,255,0.7);
}

.hfc-logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}

/* Background Images */

.bg-image {
  overflow: hidden;
  position: relative;
  padding: 1em 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.corner-frame {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}

.corner {
  background-image: url('../images/corner.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 4em;
  height: 4em;
}

.corner-tl {
  position: absolute;
    top: 0;
    left: 0;
}

.corner-tr {
  position: absolute;
    top: 0;
    right: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.corner-br {
  position: absolute;
    bottom: 0;
    right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.corner-bl {
  position: absolute;
    bottom: 0;
    left: 0;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* Case */

#block-views-statistics-block {
  background-image: url('../images/bg-sky-top.jpg');
  background-size: auto 60vh;
  background-position: top;
  background-repeat: no-repeat;
}

#block-bean-college-need {
  background-image: url('../images/graph-graphic.svg');
  background-size: 1200px auto;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 14em;
}

/* Statistic styles */

.statistic-container {
  position: relative;
  height: 300px;
}

.statistic-container img {
  max-height: 300px;
}

.statistic-title {
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Webform */

#block-webform-client-block-22 {
  border: 1px solid #0054A6;
  margin: 4em 0.5em 0.5em 0.5em;
}

#block-webform-client-block-22::before {
  background-image: url('../images/seal.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 8em;
  margin:  0 auto;
  margin-top: -4em;
  width: 8em;
}

#block-webform-client-block-22 h2 {
  text-align: center;
}

#block-webform-client-block-22 form {
  line-height: inherit;
  padding: 1em;
}

#block-webform-client-block-22 form label {
  font-weight: normal;
  color: inherit;
}

#block-webform-client-block-22 form input {
  border: 1px solid #ccc;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  width: 100%;
}

#block-webform-client-block-22 form input:focus {
  border: 1px solid #006FBA;
  outline: 1px solid #006FBA;
}

#block-webform-client-block-22 form input:hover {
  border: 1px solid #006FBA;
  box-shadow: 0 0 5px #006FBA;
}

#block-webform-client-block-22 form input[type="checkbox"] {
  position: fixed;
    bottom: -9999px;
    left: -9999px;
}

#block-webform-client-block-22 form input[type="checkbox"] + label::before {
  background-color: #fff;
  border: 1px solid #ccc;
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  vertical-align: bottom;
}

#block-webform-client-block-22 form input[type="checkbox"] + label.option::before {
  color: #fff;
}

#block-webform-client-block-22 form input[type="checkbox"]:hover + label::before {
  border: 1px solid #006FBA;
  box-shadow: 0 0 5px #006FBA;
}

#block-webform-client-block-22 form input[type="checkbox"]:focus + label::before {
  border: 1px solid #006FBA;
  outline: 1px solid #006FBA;
}

#block-webform-client-block-22 form input[type="checkbox"]:checked + label::before {
  background-image: url('../images/check.svg');
}

#block-webform-client-block-22 .webform-confirmation {
  font-size: 1.5em;
}

#block-webform-client-block-22 .links a,
#block-webform-client-block-22 input.webform-submit {
  background-color: #002D5B;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  color: #FFF !important;
  display: inline-block;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2em;
  margin: 0.4em 0;
  padding: 0 0.8em;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

#block-webform-client-block-22 .links a:hover,
#block-webform-client-block-22 input.webform-submit:hover {
  background-color: #FFF;
  border: 2px solid #002D5B !important;
  color: #002D5B !important;
  text-decoration: none;
}

/* Legacy */

#block-bean-legacy img {
  width: 300px;
}

#block-block-10 .highlight-header {
  background-image: url('/files/auto-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.2em;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

#block-bean-our-mission {
  border: 1px solid #0054A6;
  margin: 5em 5em 0 5em;
}

#block-bean-our-mission > div {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em 2em 1em;
}

#block-bean-our-mission::before {
  background-image: url('../images/seal.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 8em;
  margin:  0 auto;
  margin-top: -4em;
  width: 8em;
}

#block-bean-our-mission h2 {
  text-align: center;
}

#block-bean-letter-from-president {
  background-image: url('/files/drstan-jensen-bg.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Testimonials */

.view-testimonials ul.views-view-grid {
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 -2em;
}

.view-testimonials .grid-item-wrapper {
  padding: 0 1em;
}

.view-testimonials .wrap .testimonial-person {
  overflow: auto;
  padding: 1.5em 0.75em;
}

.view-testimonials .wrap .testimonial-title {
  overflow: auto;
}

.view-testimonials .wrap .testimonial-person .testimonial-photo {
  float: left;
  padding: 0 0.25em 0 0;
}

.view-testimonials .wrap .testimonial-person .testimonial-photo img {
  border-radius: 50%;
  max-width: 75px;
}

.view-testimonials .wrap .quote {
  background-image: url(/sites/all/themes/futuredriven/images/quote.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0.75em;
}

.view-testimonials .wrap .testimonial-person p {
  margin: 0;
}

/* Leadership */

.highlight-header > div.view-header {
  padding-bottom: 0;
}

#block-bean-hfc-family .highlight-header {
  background-image: url('/files/balloons.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.2em;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.8);
}

#block-bean-letter-from-reginald {
  background-image: url('/files/off-white-bg.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

img.signature {
  width: 200px;
}

.highlight-header > p {
  margin: 0;
  line-height: 0;
}

img.person {
  margin: 0;
  width: 400px;
}

.person-space {
  display: none;
}

@media only screen and (min-width: 750px) {

  img.person {
    position: absolute;
    bottom: 0;
    right: 0
  }

  .person-space {
    display: block;
    width: 300px;
    height: 600px;
    float: right;
  }

  #block-webform-client-block-22 > .content > div {
    margin: 0 auto;
    width: 600px;
  }

  #block-webform-client-block-22 {
    margin: 4em 2em 2em 2em;
    min-height: 650px;
  }

  #block-views-statistics-block,
  #block-views-statistics-block-1 {
    background-size: contain;
  }

}

@media only screen and (min-width: 1050px) {

  .person-space {
    display: block;
    width: 200px;
    height: 400px;
    float: right;
  }

}

@media only screen and (min-width: 1200px) {

  .person-space {
    display: block;
    width: 100px;
    height: 400px;
    float: right;
  }

}

@media only screen and (min-width: 1470px) {

  .person-space {
    display: none;
  }

}
